
h1 {
    text-align: left;
    color: #A9A9A9;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 40px;
    padding: 15px;
    margin-bottom: 1px;
    margin-top: 1px;
}

h1:hover {
    color: #b8860b;
}

p {
    color: #a9a9a9;
    font-family: sans-serif;
    font-weight: 100px;
    font-size: 40px;
    margin: 15px;
}

html {
    background: black;
}

a {
    text-decoration: none;
    color: #A9A9A9;
    font-family: sans-serif;
    font-size: 30px;
    padding: 15px;
    font-weight: 200;
    
}


a:hover {
    color: #b8860b;
}


a:active {
    color: #DCDCDC;
}

.sample-image { 
    display: flex;
    align-items: center;
    overflow: auto;
}

.sample-image img { 
     padding: 30px; 
}

@media (max-width: 900px) {
    a {
	font-size: 25px;
    }

    h1 {
	font-size: 30px;
    }

    svg {
	width: 35px;
	height: 35px;
    }
}

@media (max-width: 700px) {
     a {
	font-size: 20px;
    }

    h1 {
	font-size: 25px;
    }

    svg {
	width: 30px;
	height: 30px;
    }
}

@media (max-width: 1000px) {
    html {
	background: white;
    }
}
    
.portrait {
    width: 300px;
}

.landscape {
    width: 600px;
}

.album-cover {
    width: 500px;
}
