
h1 {
    text-align: center;
    color: #DEB887;
    font-family: monospace;
    font-size: 36px;
}

html {
    background-color: #F0FFFF;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

p {
    text-align: center;
    font-family:monospace;
    color: #A9A9A9;
}

h3 {
    text-align: center;
    font-family: monospace;
    font-size: 36px;
}
