@font-face {
    font-family: niceCleanFont;
    src: url(AdobeClean-Light.otf);
}



h1 {
    text-align: left;
    color: #A9A9A9;
    font-family: niceCleanFont;
    font-weight: 300;
    font-size: 40px;
    padding: 15px;
    margin-bottom: 1px;
    margin-top: 1px;
}

h1:hover {
    color: #b8860b;
    transition: 0.5s ease;
}

p {
    color: #a9a9a9;
    font-family: niceCleanFont;
    font-weight: 100px;
    font-size: 40px;
    margin: 15px;
}

html {
    background: black;
}

svg {
    fill: #a9a9a9;
}

a {
    text-decoration: none;
    color: #A9A9A9;
    font-family: niceCleanFont;
    font-size: 20px;
    padding: 15px;
    font-weight: 200;
    
}

.header-options {
    font-family: niceCleanFont;
}

.sample-image {
    /* width: 1200px; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

.sample-image img { 
     padding: 20px; 
}
 
.portrait {
    width: 160px;
    height: auto;
}

.landscape {
    width: 320px;
    height: auto;
}


.container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 250px;
    height: 250px;
}

.album {
    display: flex;
    width: 250px;
    height: auto;
}

svg:hover {
    fill:  #b8860b;
    transition: 0.5s ease;
}

a:hover {
    color: #b8860b;
    transition: 0.5s ease;
}


a:active {
    color: #DCDCDC;
    transition: 0s;
}

.video {
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-bottom: 10px;
    margin-top: 50px;
}

.paragraph {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
}

.icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
}

.logo {
    width: 300px;
    height: auto;
    padding-left: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    
}

.me {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    
}

.me-img {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    padding-top: 5px;
    width: 300px;
    height: auto;
}

.hello {
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #A9A9A9;
    font-family: niceCleanFont;
    margin-bottom: 0px;
    font-weight: 200;
}

.bio {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #A9A9A9;
    font-family: niceCleanFont;
    padding: 15px;
    font-weight: 200;
}

}

.bio-block {
    display: flex;
    align-items: center;
}


@media (max-width: 1230px) {

    .portrait {
	width: 160px;
	height: auto;
    }

    .landscape {
	width: 320px;
	height: auto;
    }
        .me-img {
	width: 200px;
	hieght: auto;
    }
}

@media (max-width: 965px) {
    
    a {
	font-size: 20px;
    }

    h1 {
	font-size: 30px;
    }

    .logo {
	width: 210px;
    }

    svg {
	width: 35px;
	height: 35px;
    }
    .portrait {
	width: 125px;
	height: auto;
    }

    .landscape {
	width: 250px;
	height: auto;
    }
    .me-img {
	width: 170px;
	hieght: auto;
    }
}

@media (max-width: 790px) {
    
     a {
	font-size: 20px;
    }

    h1 {
	font-size: 22px;
    }

    .logo {
	width: 150px;
    }

    svg {
	width: 30px;
	height: 30px;
    }
    .portrait {
	width: 100px;
	height: auto;
    }

    .landscape {
	width: 200px;
	height: auto;
    }
    
    .me-img {
	width: 150px;

    }


}

@media (max-width: 600px) {
    
    a {
	font-size: 15px;
    }

    h1 {
	font-size: 15px;
    }

     .logo {
	width: 100px;
    }

    svg {
	width: 30px;
	height: 30px;
    }

    .portrait {
	width: 100px;
	height: auto;
    }

    .landscape {
	width: 200px;
	height: auto;
    }
    
    .icon {
	width: 30px;
	height: 30px;
    }

    .me-img {
	width: 100px;

    }
    
}

.gmail {
    display: flex;
    justify-content: center;
    align-items: center;
}

