
h1 {
    text-align: left;
    color: #A9A9A9;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 40px;
    padding: 15px;
    margin-bottom: 1px;
    margin-top: 1px;
}

h1:hover {
    color: #b8860b;
    transition: 0.5s ease;
}

p {
    color: #a9a9a9;
    font-family: sans-serif;
    font-weight: 100px;
    font-size: 40px;
    margin: 15px;
}

html {
    background: black;
}

svg {
    fill: #a9a9a9;
}

a {
    text-decoration: none;
    color: #A9A9A9;
    font-family: sans-serif;
    font-size: 30px;
    padding: 15px;
    font-weight: 200;
    
}

.sample-image {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.sample-image img { 
     padding: 20px; 
}
 
.portrait {
    width: 250px;
    height: auto;
}

.landscape {
    width: 500px;
    height: auto;
}


.container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 250px;
    height: 250px;
}

.album {
    display: flex;
    width: 250px;
    height: auto;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    background: rgba(169, 169, 169, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding: opx;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

svg:hover {
    fill:  #b8860b;
    transition: 0.5s ease;
}

a:hover {
    color: #b8860b;
    transition: 0.5s ease;
}


a:active {
    color: #DCDCDC;
}

.video {
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-bottom: 10px;
    margin-top: 50px;
}

.paragraph {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
    
}

.icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
}

.logo {
    width: 300px;
    height: auto;
    padding-left: 30px;
    display: flex;
    align-items: center;
    
}

@media (max-width: 1230px) {

    .sample-image {
	width: 900px;
    }

    .portrait {
	width: 200px;
	height: auto;
    }

    .landscape {
	width: 400px;
	height: auto;
    }
}

@media (max-width: 930px) {
    .sample-image {
	width: 600px;
    }
    
    a {
	font-size: 25px;
    }

    h1 {
	font-size: 30px;
    }

    .logo {
	width: 210px;
    }

    svg {
	width: 35px;
	height: 35px;
    }
        .portrait {
	width: 150px;
	height: auto;
    }

    .landscape {
	width: 300px;
	height: auto;
    }
}

@media (max-width: 790px) {
    .sample-image {
	width: 500px;
    }
    
     a {
	font-size: 17px;
    }

    h1 {
	font-size: 22px;
    }

     .logo {
	width: 150px;
    }

    svg {
	width: 30px;
	height: 30px;
    }
        .portrait {
	width: 125px;
	height: auto;
    }

    .landscape {
	width: 250px;
	height: auto;
    }

}

@media (max-width: 600px) {
    
    .sample-image {
	width: 400px;
    }
    
    a {
	font-size: 10px;
    }

    h1 {
	font-size: 15px;
    }

     .logo {
	width: 100px;
    }

    svg {
	width: 30px;
	height: 30px;
    }

    .portrait {
	width: 100px;
	height: auto;
    }

    .landscape {
	width: 200px;
	height: auto;
    }
    
    .icon {
    width: 30px;
    height: 30px;
    }
    
}
    
